---
import sharp from "sharp";
import ogTemplateRaw from "@public/og-template.svg?raw";

const { title, description } = Astro.props;

const sluggifiedTitle = title?.replace(" ", "-").toLowerCase();
const ogFileName = `${sluggifiedTitle ?? "og"}.png`;
const ogImage = `${import.meta.env.SITE}/og/${ogFileName}`;

const finalTitle = `${title ? title + " - " : ""}Amr Bashir`;

// Generate OG image at build time
if (import.meta.env.PROD) {
	// breakline every 30 chars
	// https://github.com/antfu/antfu.me/blob/e1c316863c2cf8d649274b872a3229e971c505b5/vite.config.ts#L247
	const lines = (title ?? "an open source enthusiast")
		.split(/(.{0,30})(?:\s|$)/g)
		.filter(Boolean);
	const ogTemplate = ogTemplateRaw
		.replace("{{line1}}", lines[0] ?? "")
		.replace("{{line2}}", lines[1] ?? "");
	const ogTemplateBuffer = Buffer.from(ogTemplate);
	const filePath = `public/og/${ogFileName}`;

	console.log(`\nGenerating ${filePath}\n`);

	try {
		await sharp(ogTemplateBuffer).resize(1200, 675).png().toFile(filePath);
	} catch (e) {
		console.error("Failed to generate og image", e);
	}
}
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />

	<meta name="author" content="Amr Bashir" />

	<title>{finalTitle}</title>
	<meta property="og:title" content={finalTitle} />
	<meta name="twitter:title" content={finalTitle} />
	<meta name="description" content={description} />
	<meta property="og:description" content={description} />
	<meta name="twitter:description" content={description} />
	<meta property="og:image" content={ogImage} />
	<meta name="twitter:image" content={ogImage} />
	<meta name="twitter:card" content="summary_large_image" />

	<meta name="revisit-after" content="7 days" />

	<meta name="theme-color" content="#050505" />

	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
		rel="stylesheet"
	/>
</head>
