---
import { generateOgImage } from "../utils/generate-og.ts";

const { title, description } = Astro.props;

const finalTitle = `${title ? title + " - " : ""}Amr Bashir`;
const defaultDescription = "Amr Bashir's portfolio and blog about programming and computers.";
const finalDescription = description ?? defaultDescription;

// Generate OG image at build time
const sluggifiedTitle = title?.replace(" ", "-").toLowerCase();
const ogFileName = `${sluggifiedTitle ?? "og"}.png`;
const ogImageUrl = `${Astro.site}/og/${ogFileName}`;
if (import.meta.env.PROD) {
	await generateOgImage(title, ogFileName);
}
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />

	<meta name="author" content="Amr Bashir" />

	<title>{finalTitle}</title>
	<meta property="og:title" content={finalTitle} />
	<meta name="twitter:title" content={finalTitle} />
	<meta name="description" content={finalDescription} />
	<meta property="og:description" content={finalDescription} />
	<meta name="twitter:description" content={finalDescription} />
	<meta property="og:image" content={ogImageUrl} />
	<meta name="twitter:image" content={ogImageUrl} />
	<meta name="twitter:card" content="summary_large_image" />

	<meta name="revisit-after" content="7 days" />

	<meta name="theme-color" content="#050505" />

	<link rel="sitemap" href="/sitemap-index.xml" />
	<link
		rel="alternate"
		type="application/rss+xml"
		title="Amr Bashir's Blog"
		href={new URL("rss.xml", Astro.site)}
	/>

	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>
