---
interface Props {
	slug: string;
	title: string;
	published: Date | string;
	minutesRead: string;
}

const { slug, title, published, minutesRead } = Astro.props;

const date = new Date(published);
const dateNoYear = date.toLocaleDateString("en-us", {
	month: "long",
	day: "numeric",
});
---

<li>
	<a
		href={`/posts/${slug}/`}
		{title}
		class="text-lg flex flex-col md:flex-row md:gap-4 md:items-center
		       opacity-60 hover:opacity-100 transition-opacity-300"
	>
		<span>{title}</span>

		<div class="text-sm text-nowrap opacity-60">
			<span>
				{dateNoYear}
			</span>
			<span>
				· {minutesRead}
			</span>
		</div>
	</a>
</li>
