---
import Button from "./Button.astro";

interface Props {
	slug: string;
	title: string;
	pubDate: Date | string;
	readTime: number;
	updated?: Date | string;
}

const { slug, title, pubDate, readTime } = Astro.props;

const date = new Date(pubDate);
const dateNoYear = date.toLocaleDateString("en-us", {
	month: "long",
	day: "numeric",
});
const fullDate = date.toLocaleDateString("en-us", {
	year: "numeric",
	month: "long",
	day: "numeric",
});
---

<li>
	<a
		href={`/posts/${slug}/`}
		{title}
		class="text-lg flex flex-col md:flex-row md:gap-4 md:items-center
		       opacity-60 hover:opacity-100 transition-opacity-300"
	>
		<span>{title}</span>

		<div class="text-sm text-nowrap opacity-60">
			<span>
				{dateNoYear}
			</span>
			<span>
				· {readTime} min
			</span>
		</div>
	</a>
</li>
