---
interface Props {
	name: string;
	description: string;
	url: string;
	icon: string | string[];
	class?: string;
}

const { url, name, description, class: className, icon } = Astro.props;
---

<a
	href={url}
	target="_blank"
	title={name}
	class="flex gap-2 rd-2 p-4
		   hover:bg-dark/3 dark:hover:bg-light/3 opacity-50 hover:opacity-100"
>
	<!-- Icon -->
	<div class="flex justify-center opacity-60" class:list={className}>
		<span class="size-10" class:list={icon}></span>
	</div>

	<!--  Title and Description -->
	<div>
		<div class="text-xl">{name}</div>
		<div class="opacity-60 text-sm">{description}</div>
	</div>
</a>
