---
import Button from "./Button.astro";

interface Props {
	name: string;
	description: string;
	url: string;
	icon: string;
	class?: string;
}

const { url, name, description, class: className, icon } = Astro.props;
---

<Button tag="a" class={className} href={url} target="_blank" title={name}>
	<!-- Icon -->
	<div class="flex justify-center opacity-60">
		<span class:list={["size-10", icon]}></span>
	</div>

	<!--  Title and Description -->
	<div>
		<div class="text-xl">{name}</div>
		<div class="opacity-60 text-sm">{description}</div>
	</div>
</Button>
